.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formContainer {
    width: 200px;
}
.error {
    font-size: 0.8rem;
    color: #bb0000;
}

.form {
    display: flex;
    flex-direction: column;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
